Ironhack - Data FT August 2024
Final Project - Marco
SBTi Dashboard

In [1]:
# Libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

In [3]:
# SBTi databse - last update: wednesday 25 Sept 2024
sbti_df = pd.read_excel('target-dashboard_20240929.xlsx')
sbti_df

,Company Name,ISIN,LEI,Location,Region,Sector,Organization Type,Action,Commitment Type,Commitment Deadline,...,Scope,Target Value,Target Unit,Type,Sub-type,Target Classification,Base Year,Target Year,Year Type,Date Published
0,TDK Corporation,JP3538800008,353800508WNU39U8NX03,Japan,Asia,Electrical Equipment and Machinery,Company,Target,NaN,NaN,...,3,0.05,NaN,Engagement,Other,NaN,2021.0,2028.0,FY,2024-07-18
1,Innolux Corporation,TW0003481008,3003007EXL0825P1MJ10,"Taiwan, Province of China",Asia,Technology Hardware and Equipment,Company,Target,NaN,NaN,...,3,0.062,NaN,Absolute,Reduction,NaN,2021.0,2026.0,CY,2023-06-29
2,"Sigma Alimentos, S. A. de C. V.",NaN,549300FW3RGHPHT21D10,Mexico,Latin America and the Caribbean,Food and Beverage Processing,Company,Target,NaN,NaN,...,3,0.098,NaN,Absolute,Reduction,NaN,2019.0,2027.0,CY,2023-06-08
3,Nan Ya Printed Circuit Board Corporation,TW0008046004,NaN,"Taiwan, Province of China",Asia,Semiconductors and Semiconductors Equipment,Company,Target,NaN,NaN,...,3,0.123,NaN,Absolute,Reduction,NaN,2020.0,2030.0,CY,2023-04-13
4,Formosa Sumco Technology Corporation,TW0003532008,NaN,"Taiwan, Province of China",Asia,Semiconductors and Semiconductors Equipment,Company,Target,NaN,NaN,...,3,0.123,NaN,Absolute,Reduction,NaN,2020.0,2030.0,CY,2023-06-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19057,Barona Group,NaN,743700BXVUBWEY5J7Y71,Finland,Europe,Professional Services,Company,Commitment,Net-zero,30/09/2026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19
19058,CSi Palletising,NaN,NaN,Netherlands,Europe,Electrical Equipment and Machinery,Company,Commitment,Net-zero,30/09/2026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19
19059,Parksons Packaging Ltd,NaN,NaN,India,Asia,"Forest and Paper Products - Forestry, Timber, ...",Company,Commitment,Net-zero,30/09/2026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19
19060,Stella Polaris AS,NaN,NaN,Norway,Europe,Food Production - Animal Source Food Production,Company,Commitment,Net-zero,30/09/2026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19
19061,BDO Switzerland Ltd,NaN,NaN,Switzerland,Europe,Professional Services,Company,Commitment,Net-zero,30/09/2026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19

In [5]:
sbti_df = sbti_df.drop(columns=['ISIN', 'LEI', 'Year Type', 'Sub-type'])

In [7]:
sbti_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19062 entries, 0 to 19061
Data columns (total 22 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Company Name                                19062 non-null  object
 1   Location                                    19062 non-null  object
 2   Region                                      19062 non-null  object
 3   Sector                                      19061 non-null  object
 4   Organization Type                           19062 non-null  object
 5   Action                                      19062 non-null  object
 6   Commitment Type                             5521 non-null   object
 7   Commitment Deadline                         5521 non-null   object
 8   Status                                      5520 non-null   object
 9   Reason for commitment extension or removal  926 non-null    object
 10  Full target language                        13541 non-null  object
 11  Company Temperature Alignment               13541 non-null  object
 12  Target                                      13516 non-null  object
 13  Target Wording                              13541 non-null  object
 14  Scope                                       13541 non-null  object
 15  Target Value                                12243 non-null  object
 16  Target Unit                                 11 non-null     object
 17  Type                                        13541 non-null  object
 18  Target Classification                       9274 non-null   object
 19  Base Year                                   13540 non-null  float64
 20  Target Year                                 13540 non-null  float64
 21  Date Published                              19062 non-null  object
dtypes: float64(2), object(20)
memory usage: 3.2+ MB

In [9]:
sbti_df.isna().sum()

Company Name                                      0
Location                                          0
Region                                            0
Sector                                            1
Organization Type                                 0
Action                                            0
Commitment Type                               13541
Commitment Deadline                           13541
Status                                        13542
Reason for commitment extension or removal    18136
Full target language                           5521
Company Temperature Alignment                  5521
Target                                         5546
Target Wording                                 5521
Scope                                          5521
Target Value                                   6819
Target Unit                                   19051
Type                                           5521
Target Classification                          9788
Base Year                                      5522
Target Year                                    5522
Date Published                                    0
dtype: int64

In [11]:
sbti_df2 = sbti_df

In [13]:
# Test filter
sbti_df_test_filter = sbti_df2[sbti_df2['Company Name'] == 'Swiss Post']
sbti_df_test_filter

,Company Name,Location,Region,Sector,Organization Type,Action,Commitment Type,Commitment Deadline,Status,Reason for commitment extension or removal,...,Target,Target Wording,Scope,Target Value,Target Unit,Type,Target Classification,Base Year,Target Year,Date Published
59,Swiss Post,Switzerland,Europe,Air Freight Transportation and Logistics,Company,Target,NaN,NaN,NaN,NaN,...,Near-term,Swiss Post further commits to reduce all remai...,3,0.25,NaN,Absolute,NaN,2021.0,2030.0,2023-06-22
508,Swiss Post,Switzerland,Europe,Air Freight Transportation and Logistics,Company,Target,NaN,NaN,NaN,NaN,...,Near-term,Swiss Post commits to reduce absolute scope 1 ...,1+2,0.42,NaN,Absolute,1.5°C,2021.0,2030.0,2023-06-22
509,Swiss Post,Switzerland,Europe,Air Freight Transportation and Logistics,Company,Target,NaN,NaN,NaN,NaN,...,Near-term,Swiss Post also commits to reduce absolute sco...,3,0.42,NaN,Absolute,NaN,2021.0,2030.0,2023-06-22
3474,Swiss Post,Switzerland,Europe,Air Freight Transportation and Logistics,Company,Target,NaN,NaN,NaN,NaN,...,Long-term,Swiss Post Ltd commits to reduce absolute scop...,1+2,0.9,NaN,Absolute,1.5°C,2021.0,2040.0,2023-06-22
3475,Swiss Post,Switzerland,Europe,Air Freight Transportation and Logistics,Company,Target,NaN,NaN,NaN,NaN,...,Long-term,Swiss Post Ltd also commits to reduce absolute...,3,0.9,NaN,Absolute,NaN,2021.0,2040.0,2023-06-22
14912,Swiss Post,Switzerland,Europe,Air Freight Transportation and Logistics,Company,Commitment,BA1.5 Option 2,31/05/2023,Target set,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-13
15493,Swiss Post,Switzerland,Europe,Air Freight Transportation and Logistics,Company,Target,NaN,NaN,NaN,NaN,...,Net-zero,Swiss Post commits to reach net-zero greenhous...,1+2+3,NaN,NaN,Net-zero,1.5°C,2021.0,2040.0,2023-06-22

In [15]:
# Normalizing values in "Target Value" - step 1, removing % character

def update_target_unit_if_percent(df):
    # Iterate through each row in the DataFrame
    for index, row in df.iterrows():
        target_value = str(row['Target Value'])  # Convert to string for checking
        
        # Check if the last character is '%'
        if target_value.endswith('%'):
            # Remove the '%' symbol and convert the value back to a number
            new_value = float(target_value.rstrip('%'))
            
            # Update the 'Target Value' without the '%' and the 'Target Unit' with '%'
            df.at[index, 'Target Value'] = new_value
            df.at[index, 'Target Unit'] = '%'
    
    return df

# Apply the function to sbti_df
sbti_df = update_target_unit_if_percent(sbti_df)

In [17]:
# Normalizing values in "Target Value" - step 2, removing "°C" characters

def update_target_unit_if_degree_celsius(df):
    # Iterate through each row in the DataFrame
    for index, row in df.iterrows():
        target_value = str(row['Target Value'])  # Convert to string for checking
        
        # Check if the last two characters are '°C'
        if target_value.endswith('°C'):
            # Remove the '°C' symbol and convert the value back to a number
            new_value = float(target_value.rstrip('°C').strip())  # Remove and strip extra spaces
            
            # Update the 'Target Value' without the '°C' and the 'Target Unit' with '°C'
            df.at[index, 'Target Value'] = new_value
            df.at[index, 'Target Unit'] = '°C'
    
    return df

# Apply the function to sbti_df
sbti_df = update_target_unit_if_degree_celsius(sbti_df)

In [19]:
# Normalizing values in "Target Value" - step 3, percentages as decimals
def update_target_value_and_unit(df):
    # Iterate through each row in the DataFrame
    for index, row in df.iterrows():
        target_value = row['Target Value']
        
        # Check if the value is greater than 0 and less than 1
        if 0 < target_value < 1:
            # Multiply the value by 100
            df.at[index, 'Target Value'] = target_value * 100
            # Update the 'Target Unit' to '%'
            df.at[index, 'Target Unit'] = '%'
    
    return df

# Apply the function to sbti_df
sbti_df = update_target_value_and_unit(sbti_df)

In [21]:
sbti_df = sbti_df.fillna('NA')

In [23]:
def replace_na_with_zero(df):
    # List of columns to check
    columns_to_replace = ["Commitment Deadline", "Target Value", "Base Year", "Target Year", "Date Published"]
    
    # Replace 'NA' with 0 in the specified columns
    df[columns_to_replace] = df[columns_to_replace].replace('NA', 0)
    
    return df

# Apply the function to sbti_df
sbti_df = replace_na_with_zero(sbti_df)

/var/folders/23/6fv5c4zd0j7gt5pr6qbdnznh0000gn/T/ipykernel_1618/3791324988.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[columns_to_replace] = df[columns_to_replace].replace('NA', 0)

In [25]:
# Convert 'Type Value' column to float
sbti_df['Target Value'] = sbti_df['Target Value'].astype(float)

# Convert 'Base Year' column to int
sbti_df['Base Year'] = sbti_df['Base Year'].astype(int)

# Convert 'Target Year' column to int
sbti_df['Target Year'] = sbti_df['Target Year'].astype(int)

# Convert 'Date Published' column to datetime
sbti_df['Date Published'] = pd.to_datetime(sbti_df['Date Published'], errors='coerce')

# Convert 'Commitment Deadline' column to datetime
sbti_df['Commitment Deadline'] = pd.to_datetime(sbti_df['Commitment Deadline'], errors='coerce')

In [27]:
sbti_df['Scope1'] = 0
sbti_df['Scope2'] = 0
sbti_df['Scope3'] = 0

In [29]:
def scope_category(df):
    # Iterate through each row in the DataFrame
    for index, row in df.iterrows():
        scope_value = str(row['Scope'])  # Convert the scope value to string
        
        # Check if '1' is in the scope_value
        if '1' in scope_value:
            df.at[index, 'Scope1'] = 1
        
        # Check if '2' is in the scope_value
        if '2' in scope_value:
            df.at[index, 'Scope2'] = 1
        
        # Check if '3' is in the scope_value
        if '3' in scope_value:
            df.at[index, 'Scope3'] = 1
    
    return df

# Apply the function to sbti_df
sbti_df = scope_category(sbti_df)

In [31]:
sbti_df['Date Published Year'] = sbti_df['Date Published'].dt.year
sbti_df['Commitment Deadline Year'] = sbti_df['Commitment Deadline'].dt.year

In [33]:
sbti_df

,Company Name,Location,Region,Sector,Organization Type,Action,Commitment Type,Commitment Deadline,Status,Reason for commitment extension or removal,...,Type,Target Classification,Base Year,Target Year,Date Published,Scope1,Scope2,Scope3,Date Published Year,Commitment Deadline Year
0,TDK Corporation,Japan,Asia,Electrical Equipment and Machinery,Company,Target,NA,1970-01-01,NA,NA,...,Engagement,NA,2021,2028,2024-07-18,0,0,1,2024,1970
1,Innolux Corporation,"Taiwan, Province of China",Asia,Technology Hardware and Equipment,Company,Target,NA,1970-01-01,NA,NA,...,Absolute,NA,2021,2026,2023-06-29,0,0,1,2023,1970
2,"Sigma Alimentos, S. A. de C. V.",Mexico,Latin America and the Caribbean,Food and Beverage Processing,Company,Target,NA,1970-01-01,NA,NA,...,Absolute,NA,2019,2027,2023-06-08,0,0,1,2023,1970
3,Nan Ya Printed Circuit Board Corporation,"Taiwan, Province of China",Asia,Semiconductors and Semiconductors Equipment,Company,Target,NA,1970-01-01,NA,NA,...,Absolute,NA,2020,2030,2023-04-13,0,0,1,2023,1970
4,Formosa Sumco Technology Corporation,"Taiwan, Province of China",Asia,Semiconductors and Semiconductors Equipment,Company,Target,NA,1970-01-01,NA,NA,...,Absolute,NA,2020,2030,2023-06-08,0,0,1,2023,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19057,Barona Group,Finland,Europe,Professional Services,Company,Commitment,Net-zero,2026-09-30,Active,NA,...,NA,NA,0,0,2024-09-19,0,0,0,2024,2026
19058,CSi Palletising,Netherlands,Europe,Electrical Equipment and Machinery,Company,Commitment,Net-zero,2026-09-30,Active,NA,...,NA,NA,0,0,2024-09-19,0,0,0,2024,2026
19059,Parksons Packaging Ltd,India,Asia,"Forest and Paper Products - Forestry, Timber, ...",Company,Commitment,Net-zero,2026-09-30,Active,NA,...,NA,NA,0,0,2024-09-19,0,0,0,2024,2026
19060,Stella Polaris AS,Norway,Europe,Food Production - Animal Source Food Production,Company,Commitment,Net-zero,2026-09-30,Active,NA,...,NA,NA,0,0,2024-09-19,0,0,0,2024,2026
19061,BDO Switzerland Ltd,Switzerland,Europe,Professional Services,Company,Commitment,Net-zero,2026-09-30,Active,NA,...,NA,NA,0,0,2024-09-19,0,0,0,2024,2026

In [35]:
sbti_df.to_csv("sbti_df_dashboard_v1.csv")